<div class="row btnAdm">
    <div class="card border-dark mb-3" style="max-width: 25rem; min-width: 18rem;">
        <div class="card-header btnAdm">
            <p><b>{{productoId.nombre}}</b></p>            
        </div>
        <div class="card-body">
            <div class="textCard">
                <h5 class="card-title">{{productoId.codigo}}</h5>
                <pre>Semana: {{productoId.semana}}</pre>
                <pre>Precio Normal: {{productoId.precioNormal}}</pre>
                <pre>Precio Descuento: {{productoId.precioDescuento}}</pre>
                <pre>Descuento: {{productoId.descuento}}</pre>
                <pre>Capacidad: {{productoId.capacidad}}</pre>
                <pre>Medida: {{productoId.medida}}</pre>
                <pre>Stock: {{productoId.stock}}</pre>
            </div>
        </div>
    </div>
</div>
