html
    head
        link(rel='stylesheet' href='/stylesheets/style4.css')

block content
    .logcont
        .login-box
            a(href='/')
                img.imgRes.m-auto(src='/images/LogoDenergia.png' alt='')
                br
                br
            .textbox
                i.fa.fa-user(aria-hidden='true')
                input(type='text' placeholder='Username' name='' value='')
            .textbox
                i.fa.fa-lock(aria-hidden='true')
                input(type='password' placeholder='Password' name='' value='')
                br
            input.btn(class='btn' type='button' name='' value='Ingresar') 